<div class="aanbod-container">

  <h1>Groepsaanbod</h1>

  <h2>Psychotherapie</h2>
  <p>Net als elke mens is ook elk probleem en elke situatie uniek. De professionele begeleiding is daarom op maat: we gaan van start met wat op dit moment moeilijk voor je is en wat jou hierbij het beste kan helpen met het oog op jouw toekomst. We exploreren de aanwezige hulpbronnen binnen je sociale en relationele netwerk. Als mens staan we namelijk niet alleen, maar steeds in verbinding en interactie met onze omgeving. Therapie en coaching zijn groeibevorderende ervaringen, waarbij je nieuwe betekenissen leert te geven aan de gebeurtenissen in je leven. Door het aanreiken van nieuwe inzichten (‘waarom je doet wat je doet’), juiste vragen en andere perspectieven helpen we je actief op weg naar beweging en verandering, naar een ‘waarden-volle’ toekomst. Dit proces is steeds afgestemd op jouw tempo en hulpvraag. Respect voor jouw eigenheid als persoon en eigen krachten zijn daarbij een noodzaak.</p>

  <h2>Loopbaancoaching</h2>
  <p>Net als elke mens is ook elk probleem en elke situatie uniek. De professionele begeleiding is daarom op maat: we gaan van start met wat op dit moment moeilijk voor je is en wat jou hierbij het beste kan helpen met het oog op jouw toekomst. We exploreren de aanwezige hulpbronnen binnen je sociale en relationele netwerk. Als mens staan we namelijk niet alleen, maar steeds in verbinding en interactie met onze omgeving. Therapie en coaching zijn groeibevorderende ervaringen, waarbij je nieuwe betekenissen leert te geven aan de gebeurtenissen in je leven. Door het aanreiken van nieuwe inzichten (‘waarom je doet wat je doet’), juiste vragen en andere perspectieven helpen we je actief op weg naar beweging en verandering, naar een ‘waarden-volle’ toekomst. Dit proces is steeds afgestemd op jouw tempo en hulpvraag. Respect voor jouw eigenheid als persoon en eigen krachten zijn daarbij een noodzaak.</p>

</div>
