<div class="home-container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/danbala/image/upload/v1563966514/home_background.png);">
    <div class="container">
      <h1>Juno</h1>
      <h2>Groepspraktijk voor psychologie en psychotherapie<br>Voor elk individu, koppel en gezin</h2>
      <div class="cards">
        <div class="card-home">
          <img src="">
          <h3>Individueel<br>aanbod</h3
          <a href="aanbod/individueel_aanbod">Meer info</a>
        </div>

        <div class="card-home">
          <img src="">
          <h3>Systeemgericht<br>aanbod</h3>
          <a href="aanbod/systeemgericht_aanbod">Meer info</a>
        </div>

        <div class="card-home">
          <img src="">
          <h3>Groeps-<br>aanbod</h3>
          <a href="aanbod/groepsaanbod">Meer info</a>
        </div>

        <div class="card-home">
          <img src="">
          <h3>Bedrijfs-<br>aanbod</h3>
          <a href="aanbod/bedrijfsaanbod">Meer info</a>
        </div>
      </div>

    </div>
  </div>
</div>
