<div class="home-container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/danbala/image/upload/v1563966514/home_background.png);">
    <div class="container">
      <h1>Juno</h1>
      <h2>Groepspraktijk voor psychologie en psychotherapie<br>Voor elk individu, koppel en gezin</h2>
      <div class="cards">
        <div class="card-home">
          Individueel<br>aanbod
        </div>

        <div class="card-home">
          Systeemgericht<br>aanbod
        </div>

        <div class="card-home">
          Groeps-<br>aanbod
        </div>

        <div class="card-home">
          Bedrijfs-<br>aanbod
        </div>
      </div>

    </div>
  </div>
</div>
