<div class="over-container">

  <div>
    <img src="https://res.cloudinary.com/danbala/image/upload/v1564427835/sage-kirk-485982-unsplash_1_qc96j0.png">
    <div>
      <h1>Livia</h1>
      <h2>Anquinet</h2>
      <p>Klinisch psychologe</p>
      <p>Doctor in de sociale gezondheidswetenschappen</p>
      <p>Systeemtherapeute</p>
      <p>ACT therapeute</p>
    </div>
  </div>

  <h3>Doelgroepen en specialisaties</h3>
  <div class="card-over">
    Klinisch psychologe
    Doctor in de sociale gezondheidswetenschappen
    Systeemtherapeute
    ACT therapeute
  </div>

  <h3>Bereikbaarheid</h3>
  <div class="card-over">
    Klinisch psychologe
    Doctor in de sociale gezondheidswetenschappen
    Systeemtherapeute
    ACT therapeute
  </div>

  <h3>Studies</h3>
  <div class="card-over">
    Klinisch psychologe
    Doctor in de sociale gezondheidswetenschappen
    Systeemtherapeute
    ACT therapeute
  </div>

  <h3>Werkervaring</h3>
  <div class="card-over">
    Klinisch psychologe
    Doctor in de sociale gezondheidswetenschappen
    Systeemtherapeute
    ACT therapeute
  </div>

  <h3>Lid van</h3>
  <div class="card-over">
    Klinisch psychologe
    Doctor in de sociale gezondheidswetenschappen
    Systeemtherapeute
    ACT therapeute
  </div>

</div>
